<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">doc</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/doc</property>
        <property name="hibernate.connection.username">doc</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="net.dkahn.metier.Compte"/>
        <mapping class="net.dkahn.metier.Repertoire"/>
        <mapping class="net.dkahn.metier.Fichier"/>
        <mapping class="net.dkahn.metier.ComptesAmis"/>
    </session-factory>
</hibernate-configuration>
				
